<p><%= link_to 'Home', root_path %></p>

<h2>Create a new classified here.</h2>

<%= form_for @classified do |c| %>
	<div>
		<%= c.label :title %>
		<%= c.text_field :title %>
	</div>
	<div>
		<%= c.label :description %>
		<%= c.text_field :description %>
	</div>
	<div>
		<%= c.label :price %>
		<%= c.text_field :price %>
	</div>
	<%= fields_for @category do |cat| %>
	<div>
		<%= cat.label :name, 'Category' %>
		<%= cat.text_field :name %>
	</div>
	<% end %>
	<%= c.submit %>
<% end %>